h1 {
	color: black;
	font-family: arial;
	font-size: 35px;
	text-transform: capitalize;
}
body {
	background-color: grey;
	background-image: url(backgroundexo.jpg);
}
p {
	text-indent: 100px;
	font-size: 20px;
}